
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* Float four columns side by side */
.column {
  float: center;
  width: 50%;
  padding: 0 10px;
}

.column2 {
  float: center;
  width: 100%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  height: 200px;
  text-align: center;
  background-color: #f1f1f1;
  margin: 10px;
  align-content: center;
  align-items: center;
}

.upperText {
  position: absolute;
  font-family: 'Impact';
  color: #f1f1f1;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  width: 20%;
  height: 20%;
  margin: center;
  top: 0;
  right:100px;
}

.lowerText {
  position: absolute;
  font-family: 'Impact';
  color: #f1f1f1;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  width: 20%;
  height: 20%;
  bottom: 0;
  right: 100px;
}

#memeStaging {
   position: relative;
  margin-bottom: 10px;
}

body {
  margin: auto;
  text-align: center;
} */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.{
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
  align-content: center;
  align-items: center;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 45%;
  padding: 10px 10px 10px 10px;
}

.column2 {
  float: left;
  width: 100%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  margin: 10px;
  align-content: center;
  align-items: center;
}

